li {
  list-style-type: none;
}

.Nav {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-right: 20px;
}

a.active {
  color: rgb(104, 13, 13);
  font-weight: bold;
  box-shadow: 0 2px 0 #eeff00;
}
